nav {
    height: 50px;
    width: 100%; /* parent(html) ke relative */
    background-color: violet;

    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20rem 0 8rem ;
    overflow: auto;
}
p {
    margin: 0;
    padding: 50px;
    border: 1px solid black;

}
.right-container {
    background-color: pink;
    height: 500px;
    width: 250px;
    left: 70rem;
    position: sticky;
    top: 50px;
    
}