/* * {
    box-sizing: border-box;
} */
.container {
    /* width: 400px; */
    /* height: 400px; */
    border: 2px solid black;
    /* overflow: scroll; */
    /* overflow: auto; */
}
.block1 {
    overflow: auto;
}
.img1 {
    float: left;
    margin-right: 40px;
}
.img2 {
    float: right;
}
.p1 {
    /* overflow: auto; */
    border: 2px solid blue;
}